<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container-fluid" id="cover">

  		<div id="prompt">
  			<p>给自己起一个名字吧，长度<=10：</p>
        <form>
  			<div class="input-group">
	  			<input type="text" name="name" class="form-control" id="name">
	  			<span class="input-group-btn">
	  				<button type="submit" id="cfmBtn" class="btn btn-default">起好咯</button>
	  			</span>
        <form>
  		</div>

      <p class="nametips" id="nameexisted">哎呀，昵称已存在，换一个吧:-D</p>
      <p class="nametips" id="nameempty">昵称不能为空哦~</p>
      <p class="nametips" id="namelong">这名字长度要上天...</p>
      </div>
  	</div>
    <div class="container-fluid" id="container">
    	<div class="row">
    		<div class="col-md-offset-2 col-md-8" id="chatroom">

          <!--头部-->
    			<div id="header"><h4 class="text-center" id="title">CHATROOM</h4></div>
         
          <div class="row" id="ground">

           <!--消息界面-->
  				  <div class="col-md-9 col-sm-8 col-xs-10" id="screen">
                <p id="system" class="text-center"></p>
                <ul id="msg-list"></ul>
            </div>

            <!--在线列表-->
            <div id="users" class="col-md-3 col-sm-4">
              <span id="users-slider">
                在线列表
              </span>
              <div id="users-box"><h4 class="text-center">Online List</h4>
                <span class="spacer"></span>
                <ul id="users-list">
                </ul>
              </div>
            </div>
          </div>

          <!--输入区-->
  				<div id="message">

            <div id="message-box">
              <span id="emoji">
                <svg class="iconemoji" aria-hidden="true">
                  <use xlink:href="#icon-biaoqing"></use>
                </svg>
              </span>
              <ul id="emoji-box">
                <li><svg class="iconemoji" aria-hidden="true">
                  <use  class="emoji-item" xlink:href="#icon--astonished"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use  class="emoji-item" xlink:href="#icon--angel"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use  class="emoji-item" xlink:href="#icon--happy-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use  class="emoji-item" xlink:href="#icon--happy"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use  class="emoji-item" xlink:href="#icon--happy-1"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--joy"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--confused"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--angry"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--cool-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--dizzy"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--cry"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--devil"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--flushed"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--kiss-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--sad-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--smile"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--sleeping"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--smiling-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--surprised"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--thinking"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--unamused"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--vomiting-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--mute"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--scared-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--secret"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--sweat"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--smiling"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--smiling-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--tongue-"></use>
                </svg></li>
                <li><svg class="iconemoji" aria-hidden="true">
                  <use class="emoji-item" xlink:href="#icon--sick"></use>
                </svg></li>
              </ul>
              <form id="sendform">
    					  <div class="input-group" id="iptgroup">
      						<input type="text" name="msg" id="msg" class="form-control">
      						<span class="input-group-btn">
      						  <button type="submit" class="btn btn-default" id="sendBtn">GO</button>
      						</span>
    					   </div>
              </form>
            </div>

    			</div>
    				
			  </div>
			</div>
    </div>			
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
   	<script src="/javascripts/chat.js"></script>
    <script src="/javascripts/iconemoji.js"></script>

  </body>
</html>
