
.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 2em; height: 2em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.25em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e7e7e7;
}
a {
  color: #fff;
}
#cover{
	display: none;
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}
#prompt{
	position: absolute;
	width: 240px;
	height:100px;
	top:50%;
	left:50%;
	margin:-50px 0 0 -120px;
}
#prompt p{
	color: #fff;
	text-align: center;
}
#nameempty,#nameexisted,#namelong{
	display: none;
	margin-top: 10px;
}
#name{
	box-shadow: none;
	border:1px solid #ccc;
}
#cfmBtn{
	color: #000;
}
#container{
	margin: 5px;
}
#chatroom{
	height: 600px;
	border:1px solid #B8860B ;
	border-radius:5px;
	padding: 0;
	background-color: #fff;
}
#ground{
	position: relative;
	height: 558px;
	margin: 0;
	overflow: hidden;
}
#title{
	height: 40px;
	margin: 0px;
	line-height: 40px;
	background-color: #FFD700 ;
	border-radius:5px 5px 0 0;
}
.msg-title{
	color:#aaa;
}
.msg-text{
	word-wrap:break-word;
}
#system{
	display: none;
	width:100%;
	padding-left:15px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-color: #DAA520;
	color: #fff;
	height: 30px;
	position: absolute;
	top:0;
	left:0;
	line-height: 30px;
	height: 30px;
}
.spacer{
	display: block;
	width: 120px;
	height: 1px;
	margin: 0 auto 10px;
	background-color: #fff;
}
#screen{
	height: 420px;	
	overflow: hidden;
	padding:0;
}
#msg-list{
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding-left: 80px;
	padding-right: 30px;
	top:40px;
	left:0;
	height: 410px;
	list-style-type: none;
	overflow: scroll;
}
#message{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color:#DAA520;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#message-box{
	margin: 18px auto;
	width:80%;
}
#emoji{
	float: left;
	margin:3px 10px 0 0;
	cursor:pointer;
}
#msg{
	border:1px solid #ccc ;
	outline: none;
	box-shadow: none;
}
#users{
	height: 488px;
	padding: 0;
}
#users_slider{
	display: none;
	width: 30px;
	height: 100px;
	position: absolute;
	background-color: #B8860B;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	top:50%;
	margin-top: -80px;
	left:0;
	writing-mode: vertical-lr;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
}
#users-box{
	height: 100%;
	background-color: #B8860B ;
	color:#fff;
}
#users-box h4{
	margin:0px;
	padding: 10px 0;
}
#users-list{
	overflow: scroll;
	list-style-type: none;
}
@media screen and (max-width: 1000px){
	#screen{
		width:100%;
	}
	#users_slider{
		display: block;
	}
	#users{
		position: absolute;
		list-style-type: none;
		padding: 0;
		width: 300px;
		right:-270px;
	}
	#users-box{
		margin-left: 30px;
	}
}
@media screen and (min-width: 1024px){
	#users{
		position: static;
	}
}
